html,body {
  cursor: url("/static/img/Cursor.png"), auto;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
}
button,input,a{ cursor: url("/static/img/onCursor.png"), auto;}

.main-body{
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}
  .job-search-form{
   
    position: relative;
    width: 624px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
  }

  .job-search-box{
    font-family: inherit;
    margin: 0;
    display: block;
    width: 100%;
    padding: 15px 150px 18px 17px;
    background: none;
    border: none;
    line-height: 17px;
    font-size: 14px;
    color: #9b9b9b;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  }

  .job-search-button{
   
    font-size: 100%;
    line-height: normal;
    text-transform: none;
    -webkit-appearance: button;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    padding: 0;
    border: none;
   
  }

  .button-style{
    font-size: 100%;
    line-height: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    background-image: url(/static/img/button.png);
    width: 50px;
    height: 30px;
  }

  .container{
    position: relative;
    min-height: 700px;
    padding-bottom: 120px;
    width: 1080px;
    margin: 0 auto;
  }
  


  .index-logo{
    width: 624px;
    margin: 0 auto;
    border-radius: 2px;
    text-align:center;
  }


  .wrap{
    min-width: 1080px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    background: #FFD340;
   
  }

.job-best{
  margin-top: 30px;
  min-height: 396px;
  background: #fff;
  border: solid 1px #e9eff4;
}

.job-best-header{
  border-bottom: 1px solid #f0f0f0;
  
}

.job-best-contents-left{
  width: 50%;
  float: left;
  
}

.job-best-contents-right{
  width: 50%;
  float: right;
  border-left: 1px solid #f0f0f0;
  box-sizing: border-box;
  
}

.job-best-list{
  
  list-style: none;
  margin: 0;
  padding: 0;
}

.job-best-list-item{
  
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none;
}

.job-rank-green{
  list-style: none;
  white-space: nowrap;
  float: left;
  line-height: 68px;
  width: 55px;
  font-size: 18px;
  font-weight: 300;
  font-style: oblique;
  text-align: center;
  
  color: #1ab80c;
}

.job-rank-default{
  list-style: none;
  white-space: nowrap;
  float: left;
  line-height: 68px;
  width: 55px;
  font-size: 18px;
  font-weight: 300;
  font-style: oblique;
  color: #989898;
  text-align: center;
  
}

.language-image{
  list-style: none;
  white-space: nowrap;
  float: left;
  height: 56px;
  padding: 6px 0 0;
  margin-right: 20px;
  width: 100px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 6px;
  overflow: hidden;
  
}

.item-title{
  list-style: none;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 14px;
  line-height: 17px;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  
}

.image-banner{
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  display: none;
  height: 90px;
  background-color: #1d1a1a;
  text-align: center;
  font-size: 0;
}

.oojj-header{
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #3478AE;
}

.oojj-header-gnb{
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  padding-left: 98px;
  background-color: #232f46;
}

.oojj-header-logo{
  font-size: 2em;
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  position: absolute;
  left: 0;
  top: 0;
  width: 98px;
  background-color: #3478AE;
}

.oojj-header-logo-anchor{
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  border: 0;
  word-break: keep-all;
  text-decoration: none;
  display: block;
  padding: 12px 0 12px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 0;
  width: 100%;
  height: 16px;

}

.nav-desktop{
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  font-size: 0;
  height: 40px;
  overflow: hidden;
}

.oojj-header-nav{
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item{
  font-size: 0;
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  border: 0;
  word-break: keep-all;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  padding: 0 12px 0 4px;
  margin: 0;
  color: #fff;
  background-color: #3478AE;
}

.nav-item-course{
  font-size: 0;
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  border: 0;
  word-break: keep-all;
  text-decoration: none;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin: 4px;
  padding: 0 8px;
  color: #c3cbd1;
}

.nav-item span{ 
  line-height: 40px;
  color: #fff;
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  font-size: 12px;
  margin-left: 8px;
  vertical-align: middle;
}

.l-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

.footer{
  width: 1080px;
  margin: 0 auto;
  padding: 40px 0;
  
  color: #fff;

}

.l-menu{
  background: #3478AE;
  height: 48px;
  border-bottom: 1px solid #4171d6;
  box-sizing: border-box;
  
}

.menu{
  
  list-style: none;
  padding: 0;
  max-width: 1300px;
  height: 48px;
  margin: 0 auto;
  display: flex;
}

.menu-item{
  
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 24px;
  height: 100%;
  display: flex;
  line-height: 19px;
  font-size: 15px;
  box-sizing: border-box;
}


.menu-item-active{
  
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
  line-height: 19px;
  font-size: 15px;
  box-sizing: border-box;
  font-weight: 500;
  margin-left: 0;
}

.menu-item-name{
  
  list-style: none;
  line-height: 19px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 13px 0;
  color: #fff;
  border-bottom-color: #fff;
  padding-top: 13px;
  padding-bottom: 9px;
}

.menu-item-name-not-active{
  
  list-style: none;
  line-height: 19px;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  display: flex;
  color: #b3cdff;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 13px 0;
  padding-top: 13px;
  padding-bottom: 9px;
}

.menu-item-name-not-active:hover{
  
  list-style: none;
  line-height: 19px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 13px 0;
  color: #fff;
  border-bottom-color: #fff;
  padding-top: 13px;
  padding-bottom: 9px;
}

.menu-item-name-king{
  
  list-style: none;
  line-height: 19px;
  font-size: 15px;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 13px 0;
  color: #00fede;
  padding-top: 13px;
  padding-bottom: 9px;
}

.menu-item-name-king:hover{
  
  list-style: none;
  line-height: 19px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 13px 0;
  color: #fff;
  border-bottom-color: #fff;
  padding-top: 13px;
  padding-bottom: 9px;
}



.icon{
  font-size: 0;
  line-height: 40px;
  color: #fff;
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  max-width: 100%;
  border: none;
  width: 15px;
  height: 12px;
  vertical-align: middle;
}

.icon-course{
  font-size: 0;
  line-height: 40px;
  color: #fff;
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  max-width: 100%;
  border: none;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}


.nav-item-course span{
  line-height: 32px;
  color: #c3cbd1;
  font-family: Roboto,Noto sans kr,"Apple SD Gothic Neo",Malgun Gothic,sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
  font-size: 12px;
  margin-left: 8px;
  vertical-align: middle;
  position: relative;
}

.search-setting{
  font-size: 100%;
  margin: 0;
  line-height: normal;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 70px;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
  border: none;
  height: 30px;
  
}


.search-setting span{
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding: 1px 7px 2px 8px;
  line-height: 13px;
  font-size: 11px;
  letter-spacing: -0.4px;
  color: #fff;
  background: #788185;
  
}

.JobLayoutHeader{
  
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.Face{
  
  display: inline-block;
  width: 100px;
  padding-left: 30px;
  vertical-align: top;
}

.ProfileIcon{
  
  position: relative;
}

.ProfileImage{
  
  border: 0;
  display: block;
  width: 100px;
  height: 100px;
}

.Level {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -14px;
  margin-left: -22px;
  width: 44px;
  height: 24px;
  padding-top: 3px;
  box-sizing: border-box;
  background: url('/static/img/levelbox.png');
  background-size: 100%;
  line-height: 17px;
  font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
  font-size: 14px;
  text-align: center;
  color: #eabd56;
}

.JobProfile{
  
  position: relative;
  display: inline-block;
  height: 100px;
  margin: 0 25px 0 25px;
  vertical-align: top;
  line-height: 1.1;
}

.Information{
  line-height: 1.1;
  
}

.JobProfileName{
  line-height: 1.1;
  
  color: #242929;
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
  vertical-align: middle;
}

.SiteButtons{
  line-height: 1.1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  margin: 15px 0 -6px;
  white-space: nowrap;
}

.BlueSiteButtons{
  white-space: nowrap;
  line-height: normal;
  text-transform: none;
  text-align: center;
  
  padding: 11px 14px 10px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #285a83;
  background: #3478AE;
  color: #f2f2f2;
  margin: 0 6px 6px 0;
  position: relative;
}

.BlueSiteButtons:hover{
  border: solid 1px #ffcd28;
  background: #FFD340;
}

.PurpleButtons{
  white-space: nowrap;
  text-transform: none;
  text-align: center;
  
  padding: 11px 14px 10px;
  border-radius: 2px;
  position: relative;
  color: #f2f2f2;
  font-size: 14px;
  line-height: 17px;
  background: #FFD340;
  border: solid 1px #ffcd28;
  padding-right: 35px;
  margin: 0 6px 6px 0;
}
.PurpleButtons:hover{
  border: 1px solid #285a83;
  background: #3478AE;
}

.PurpleFriend{
  white-space: nowrap;
  text-transform: none;
  text-align: center;
  color: #f2f2f2;
  font-size: 14px;
  border: 0;
  position: absolute;
  height: 20px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.JobMenu{
  
  border-bottom: 1px solid #c6cbcb;
  margin-top: 25px;
}

.JobMenuList{
  
  list-style: none;
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}

.JobTabHeader{
  font-size: 0;
  list-style: none;
  display: inline-block;
  margin: 0 -1px 0 0;
  padding: 0;
}

.JobTabHeaderText{
  list-style: none;
  display: block;
  min-width: 70px;
  height: 39px;
  border: 1px solid #c6cbcb;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #e8eaea;
  background: #e8eaea;
  color: #141717;
}

.JobContentsWrap{
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  overflow: hidden;
}

.TabItemContents{
  font-size: 0;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  display: block;
}

.JobRenderContents{
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  display: inline-block;
  width: 690px;
  margin-left: 10px;
  font-size: 12px;
  vertical-align: top;
}

.JobListContainer{
  font-size: 12px;
  margin-top: 10px;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
}

.JobContents{
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  position: relative;
}

.JobItemWrap{
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  position: relative;
  border-radius: 3px;
  margin-bottom: 8px;
}

.JobItem{
  font-size: 12px;
  position: relative;
  background: none;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
}


.JobContents-yellow{
  cursor: url("/static/img/onCursor.png"), auto;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  display: table;
  width: 689px;
  border: 2px solid #cdd2d2;
  border-radius: 5px;
  table-layout: fixed;
  border-color: #FFD340;
}


.JobContents-yellow:hover{ 
  border: 3px solid #3478AE;
}

.JobContents-yellow::before,
.JobContents-yellow::after {
  box-sizing: content-box;
  margin-right: -4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  border-radius: 5px;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.JobContents-yellow::before {
  background: #fde698;
}
.JobContents-yellow::after {
  background: #FFD340;
}
.JobContents-yellow:hover::before,
.JobContents-yellow:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
.JobContents-yellow:hover::after {
  transition-delay: .3s;
}


.CardSitename{
  display: table-cell;
  border-collapse: collapse;
  height: 96px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
}
.CardSitename-grid{
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  font-weight: 900;
  font-size: 11px;
  color: #555;
  line-height: 16px;
}


.CardSiteLogo{
  border-collapse: collapse;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  width: 70px;
  font-size: 0;;
}

.CardLogoImage{
  display: block;
  border-collapse: collapse;
  font-size: 0;
  width: 46px;
  height: 46px;
  vertical-align: middle;
  overflow: hidden;
  margin:auto;
}


.LogoRound{
  border-collapse: collapse;
  font-size: 0;
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}



.CardCompany{
  border-collapse: collapse;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  font-weight: 900;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  font-size: 11px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #555e5e;
}

.CardTitle{
  border-collapse: collapse;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  width: 200px;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  color: #555e5e;
  font-weight: 900;
}

.CardLocation{
  padding-left: 3px;
  border-collapse: collapse;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  font-size: 11px;
  width: 120px;
  color: #555e5e;
  text-align: center;
  font-weight: 900;
}

.Job-contents-a{
  text-decoration: none !important;
}

.SideButtonsContents{
  top: 0;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  display: inline-block;
  width: 300px;
  font-size: 12px;
  vertical-align: top;
  margin-top: 10px;
}

.SideButton{
  height: 96px;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: solid 2px #cdd2d2;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  margin-bottom: 8px;
}

.SideButtonSite{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  justify-content: center;
}

.SideButtonSiteName{
  font-size: 13px;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  color: #879292;
}

.SideSiteLogo{
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  border: 0;
  width: 64px;
  height: 64px;
  margin: 0 28px;
  border-radius: 100%;
}

.LastUpdate{
  font-family: "Helvetica Neue",Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
  position: absolute;
  left: 160px;
  bottom: -18px;
  height: 12px;
  color: #99a2a2;
  font-size: 11px;
}

.StickyTest{
  position: fixed;
  width: 300px;
}