<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gopher Job Scrapper</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/img/gopherb.ico">
</head>

<body class="main-body"
    style="background-color:#FFD340; background-image: url(/static/img/logo.png); background-size: 200px;">
    <div class="crt-container">
        <div class="crt">
            <div class="crt-text-wrap">
                <div class="crt-text">404 NOT FOUND</div>
                <div class="crt-text">{❌}</div>

                <script>
                    window.setTimeout(function () {

                        window.location.href = "/";

                    }, 3000);

                </script>

                <div class="crt-text">Redirect in 3 seconds.</div>


            </div>
        </div>

    </div>

</body>

</html>