<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gopher Job Scrapper</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="main-body" onload="resetSelect();">
    <script type="text/javascript">
        function resetSelect(){
            document.getElementById("select").selectedIndex = 0;
        }
    </script>
    <!-- <div id="loading" style="display:none;"><img src="/static/img/loading.gif" alt="" class="center"/></div> -->
    <div class="wrap">
        <header class="header">
            <div class="image-banner">

            </div>
            <div class="oojj-header">
                <div class="oojj-header-gnb">
                    <h1 class="oojj-header-logo">
                        <a class="oojj-header-logo-anchor" height="16" width="65"></a>
                    </h1>
                    <nav class="oojj-header-nav">
                        <div class="nav-desktop">
                            <div class="nav-item">
                                <img class="icon" src="/static/img/nomad_m.svg">
                                <span>Nomad Courses</span>
                            </div>
                            <a class="nav-item-course" href="https://nomadcoders.co/carrot-market/">
                                <img class="icon-course" src="/static/img/daggn.svg">
                                <span>Karrot Market</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/instaclone">
                                <img class="icon-course" src="/static/img/Instagram.svg">
                                <span>Ninstsgram</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/airbnb-clone">
                                <img class="icon-course" src="/static/img/airbnb.svg">
                                <span>NomadBnB</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/wetube">
                                <img class="icon-course" src="/static/img/youtube.svg">
                                <span>Wetube</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/wetube">
                                <img class="icon-course" src="/static/img/kakaotalk.svg">
                                <span>Cocoa Talk</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/wetube">
                                <img class="icon-course" src="/static/img/netflix.svg">
                                <span>Nomflix</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/go-for-beginners">
                                <img class="icon-course" src="/static/img/go-logo.svg">
                                <span>Go Lang</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/go-for-beginners">
                                <img class="icon-course" src="/static/img/python.svg">
                                <span>Python</span>
                            </a>
                        </div>
                    </nav>
                </div>
                

            </div>
        </header>
        <div class="l-menu">
            <ul class="menu">
                <li class="menu-item-active">
                    <a href="/" class="menu-item-name"> HOME </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-not-active"> ARTHUR </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-king"> N.I.C.O </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-king"> L.Y.N.N </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-not-active"> MIZZU </a>
                </li>

            </ul>
        </div>
        <div class="container">
            <div class="index-logo">
                <div class="logo">
                    <img src="/static/img/logo.png" width="400px"  title="bernie" alt="OO.JJ logo" class="Image">
                </div>
            </div>
            <form class="job-search-form" method="POST" action="/">
                <input type="text" size = "35" id="job-search-box" class="job-search-box" name="job_name" placeholder= "Type Language You would like to Apply">
                <button type="submit" class="job-search-button">
                    <i class="button-style"></i>
                </button>

                <select class="search-setting" id="select" name="site">
                    <option selected="selected" value="all">ALL</option>
                    <option value="so">SO</option>
                    <option value="wwr">WWR</option>
                    <option value="ro">RO</option>
                    <option value="sowrr">SO&WWR</option>
                    <option value="soro">SO&RO</option>
                    <option value="wwrro">WWR&RO</option>
                </select>
            </form>
            <div class="job-best">
                <div class="job-best-header">
                    OO.JJ Popular Job Titles
                </div>
                <div class="job-best-contents-left">
                    <ul class="job-best-list">
                        <li class="job-best-list-item">
                            <a href="/result/language=javascript">
                                <div class="job-rank-green">1</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Javascript</span>
                                </div>
                            </a>
                        </li>
                        <li>
                        <li class="job-best-list-item">
                            <a href="/result/language=python">
                                <div class="job-rank-green">2</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Python</span>
                                </div>
                            </a>
                        </li>
                        <li class="job-best-list-item">
                            <a href="/result/language=java">
                                <div class="job-rank-green">3</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Java</span>
                                </div>
                            </a>
                        </li>
                        <li class="job-best-list-item">
                            <a href="/result/language=react.js">
                                <div class="job-rank-default">4</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>React.js</span>
                                </div>
                            </a>
                        </li>
                        <li class="job-best-list-item">
                            <a href="/result/language=django">
                                <div class="job-rank-default">5</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>django</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="job-best-contents-right">
                    <ul class="job-best-list">
                        <li class="job-best-list-item">
                            <a href="/result/language=go">
                                <div class="job-rank-default">6</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Go</span>
                                </div>
                            </a>
                        </li>
                        <li class="job-best-list-item">
                            <a href="/result/language=android">
                                <div class="job-rank-default">7</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Android</span>
                                </div>
                            </a>
                        </li>
                        <li class="job-best-list-item">
                            <a href="/result/language=android">
                                <div class="job-rank-default">8</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Android</span>
                                </div>
                            </a>
                        </li>
                        <li class="job-best-list-item">
                            <a href="/result/language=swift">
                                <div class="job-rank-default">9</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Swift</span>
                                </div>
                            </a>
                        </li>
                        <li class="job-best-list-item">
                            <a href="/result/language=vue">
                                <div class="job-rank-default">10</div>
                                <div class="language-image">
                                    <img height="56px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2048px-Unofficial_JavaScript_logo_2.svg.png">
                                </div>
                                <div class="item-title">
                                    <span>Vue</span>
                                </div>
                            </a>
                        </li>
                    </ul>
    
                </div>
            </div>   
        </div>
        <div class="l-footer">
            <div class="footer">

            </div>

        </div>
        
    </div>
   
    
    
</body>
</html>