<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gopher Job Scrapper</title>
</head>
<body>
    <form method="POST" action="/result">
        <input type="text" size = "35" name="job_name" placeholder= "Type Language You would like to Apply">
        StackOverflow <input type="checkbox" value="so" name="Site">
        WeWorkRemotely <input type="checkbox" value="wwr" name="Site">
        RemoteOK<input type="checkbox" value="ro" name="Site">
        <input type="submit">
    </form>

</body>
</html>