<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gopher Job Scrapper</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="loading" style="display:none;"><img src="loading.gif" alt="" />Loading!</div>
    <form method="POST" action="/result">
        <div id="content">
            <input type="text" size = "35" name="job_name" placeholder= "Type Language You would like to Apply">
            StackOverflow <input type="checkbox" value="so" name="Site">
            WeWorkRemotely <input type="checkbox" value="wwr" name="Site">
            RemoteOK<input type="checkbox" value="ro" name="Site">
            <input type="submit" onclick="$('#loading').show();">
        </div>
    </form>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


</body>
</html>