<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gopher Job Scrapper</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="main-body">
    <a id="top"></a>
    <div class="main-body" class="wrap">
        <header class="header">
            <div class="image-banner">

            </div>
            <div class="oojj-header">
                <div class="oojj-header-gnb">
                    <h1 class="oojj-header-logo">
                        <a class="oojj-header-logo-anchor" height="16" width="65"></a>
                    </h1>
                    <nav class="oojj-header-nav">
                        <div class="nav-desktop">
                            <div class="nav-item">
                                <img class="icon" src="/static/img/nomad_m.svg">
                                <span>Nomad Courses</span>
                            </div>
                            <a class="nav-item-course" href="https://nomadcoders.co/carrot-market/">
                                <img class="icon-course" src="/static/img/daggn.svg">
                                <span>Karrot Market</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/instaclone">
                                <img class="icon-course" src="/static/img/Instagram.svg">
                                <span>Ninstsgram</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/airbnb-clone">
                                <img class="icon-course" src="/static/img/airbnb.svg">
                                <span>NomadBnB</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/wetube">
                                <img class="icon-course" src="/static/img/youtube.svg">
                                <span>Wetube</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/kokoa-clone">
                                <img class="icon-course" src="/static/img/kakaotalk.svg">
                                <span>Cocoa Talk</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/react-masterclass">
                                <img class="icon-course" src="/static/img/netflix.svg">
                                <span>Nomflix</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/go-for-beginners">
                                <img class="icon-course" src="/static/img/go-logo.svg">
                                <span>Go Lang</span>
                            </a>
                            <a class="nav-item-course" href="https://nomadcoders.co/python-for-beginners">
                                <img class="icon-course" src="/static/img/python.svg">
                                <span>Python</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="l-menu">
            <ul class="menu">
                <li class="menu-item-active">
                    <a href="/" class="menu-item-name-not-active"> HOME </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-not-active"> ARTHUR </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-king"> N.I.C.O </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-king"> L.Y.N.N </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-not-active"> MIZZU </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-item-name-not-active"> CHINSHUU </a>
                </li>
            </ul>
        </div>
        <div class="not-found-container">
            <div class="crt">
                <div class="crt-text-wrap">
                    <div class="crt-text">You searched " {{language.upper()}} ".</div>
                    <div class="crt-text"> { 🍕 }</div>
                    <div class="crt-text">Did not match any document.</div>
                    <a href="/" class="SideButton-a">
                        <div class="crt-text-button">-Search Again-</div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>